{% extends "main.html" %}
{% block title %}Task detail{% endblock %}
{% block main %}
    <div class="container">
        <div class="center-content">
            <p>
                id: {{ task.id }}
            </p>
            <p>
                description: {{ task.description }}
            </p>
            <p>
                {% if task.is_done %}
                is done &#10004;
                {% else %}
                is not done &#10008;
                {% endif %}
            </p>
            <p>
                date: {{ task.created|date:"D d M Y" }}
            </p>
            <p>
                <a href="edit" class="btn btn-success btn-block">Edit</a>
                <a href="delete" class="btn btn-danger btn-block">Delete</a>
            </p>
        </div>
    </div>
{% endblock %}