{% extends "main.html" %}
{% block title %}Delete task{% endblock %}
{% block main %}
    <div class="container">
        <div class="center-content">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ task.description }}"?</p>
                <button class="btn btn-danger btn-block" type="submit">Delete</button>
                <a href="/" class="btn btn-default btn-block">No</a>
            </form>
        </div>
    </div>
{% endblock %}